[user]
	name = Henry Stanley
	email = henry@henrystanley.com
[push]
	default = current
[color]
	ui = true
[alias]
	aa = add --all
	ap = add --patch
	branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
	ci = commit -v
	co = checkout
	pf = push --force-with-lease
	st = status
	br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	dc = diff --cached
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = nvim
	pager = less -+F
[merge]
	ff = only
[fetch]
	prune = true
[rebase]
	autosquash = true
[include]
	path = ~/.gitconfig.local
[diff]
	colorMoved = zebra
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[branch]
	autosetupmerge = always
	autosetuprebase = always
